@mixin random-background() {
  background-color: rgb(random(255), random(255), random(255));
}

@mixin logo-text-style() {
  background-clip: text;
  background-image: linear-gradient(to left, $violet, $dark-indigo, $dark-blue, $dark-green, $amber, $orange, $red);
  color: transparent;
  font-family: 'Galada', cursive;
}
